<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>projet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletRegister</servlet-name>
    <servlet-class>web.ServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegister</servlet-name>
    <url-pattern>/ServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>web.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLivres</servlet-name>
    <servlet-class>web.ServletLivres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLivres</servlet-name>
    <url-pattern>/ServletLivres</url-pattern>
    <url-pattern>/ServletAjouterLivre</url-pattern>
    <url-pattern>/ServleLivreSupprimer</url-pattern>
    <url-pattern>/ServletLivreModifier</url-pattern>
    <url-pattern>/ServletDetailLivre</url-pattern>
    <url-pattern>/AjouterExemplaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUserInterface</display-name>
    <servlet-name>ServletUserInterface</servlet-name>
    <servlet-class>web.ServletUserInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserInterface</servlet-name>
    <url-pattern>/ServletUserInterface</url-pattern>
    <url-pattern>/livres</url-pattern>
    <url-pattern>/livre</url-pattern>
    <url-pattern>/demander</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnecter</display-name>
    <servlet-name>ServletDeconnecter</servlet-name>
    <servlet-class>web.ServletDeconnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnecter</servlet-name>
    <url-pattern>/ServletDeconnecter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemande</display-name>
    <servlet-name>ServletDemande</servlet-name>
    <servlet-class>web.ServletDemande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemande</servlet-name>
    <url-pattern>/ServletDemande</url-pattern>
    <url-pattern>/demandes</url-pattern>
    <url-pattern>/RefuserDemande</url-pattern>
    <url-pattern>/AccepterDemande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEmprunt</display-name>
    <servlet-name>ServletEmprunt</servlet-name>
    <servlet-class>web.ServletEmprunt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmprunt</servlet-name>
    <url-pattern>/ServletEmprunt</url-pattern>
    <url-pattern>/emprunts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUser</display-name>
    <servlet-name>ServletUser</servlet-name>
    <servlet-class>web.ServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUser</servlet-name>
    <url-pattern>/ServletUser</url-pattern>
      <url-pattern>/users</url-pattern>
  </servlet-mapping>
</web-app>